.homeContainer {
  width: 100%;
  max-width: 1440px;
  background: var(--primary-bgColor);
  margin: auto;
}

.reviewHistoryContainer {
  width: 100%;
  max-width: 1440px;
  background: var(--secondary-bgColor);
  margin: auto;
}