.reviewHisSection {
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding-bottom: 72px;
}

.reviewHisTopWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.topLeftWrap {
  width: 35%;
  display: flex;
  align-items: center;
}

.mdAvatar {
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

.topRightWrap {
  display: flex;
  align-items: center;
  margin-left: 55px;
}

.topRightWrap button {
  background: #8424de;
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 30px;
  font-weight: 500;
  font-size: 16px;
  color: #f7f7f7;
  border: none;
  border-radius: 500px;
  transition: 1s;
  cursor: pointer;
}

.topRightWrap button:hover {
  background: black;
  color: white;
  transition: 1s;
}

.reviewHisBottomWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 70px;
}

.reviewBottomWrap {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}