.mySwiper {
  background-color: var(--primary-bgColor);
  padding: 20px !important;
  margin-top: 75px;
  margin-bottom: 135px;
  margin-left: 50px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.swiper-wrapper {
  display: flex;
}

.customerContainer {
  overflow: hidden;
}