.carousel {
  position: relative;
  width: 100%;
  max-width: 374px;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-container img {
  width: 374px;
  height: 665px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-indicators {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 100000;
}

.indicator {
  position: relative;
  bottom: 670px;
  height: 2px;
  background: #f7f7f7;
  padding: 0;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--pinkColor);
  transition: width 2000ms linear;
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  background: transparent;
  font-size: 24px;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev-slide {
  left: 0;
}

.next-slide {
  right: 0;
}

.carouselImgWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 27px;
}

.carouselImgWrapper img {
  width: 29.79px;
  height: 29.79px;
  margin-left: 13px;
  border-radius: 50%;
}

.carouselImgWrapper div {
  margin-left: 9.1px;
  font-weight: 500;
  font-size: 12px;
  color: #f7f7f7;
  letter-spacing: -0.03em;
}