.headerWrapper {
  width: 100%;
  max-width: 1440px;
  background: var(--primary-bgColor);
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.headerTitle {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-left: 30px;
  color: var(--primary-txtColor);
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -0.03em;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleTheme {
  display: flex;
  align-items: center;
  margin-left: 189px;
}

.headerRightWrap {
  display: flex;
  justify-content: space-between;
  margin-left: 409px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
  border: 1px solid var(--primary-txtColor);
  border-radius: 16px;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--primary-txtColor);
  position: absolute;
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  content: "";
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}
