.footerContainer {
  background: var(--emailBgColor);
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.footerWrapper {
  width: 100%;
  max-width: 1160px;
  height: 45vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
}

.footerFirst {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}

.footerFirst div {
  color: var(--primary-txtColor);
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.footerInput {
  background: #c4c4c4;
  width: 280px;
  height: 45px;
  border: none;
  border-radius: 5px;
}

.footerSecond {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerIcontxt {
  display: flex;
  text-decoration: none;
}

.footerIcontxt div {
  margin-left: 18px;
  color: var(--primary-txtColor);
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -0.03em;
}

.footerDarkBtn {
  background: var(--primary-txtColor);
  display: flex;
  align-items: center;
  padding: 16.5px 47px 16.5px 40px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-bgColor);
  border: none;
  border-radius: 550.16px;
  text-decoration: none;
  transition: 1s;
}

.footerDarkBtn:hover {
  background: #8424de;
  cursor: pointer;
  transition: 1s;
}

.footerBtnItem {
  background: var(--bottomBtnColor);
  border: none;
  border-radius: 50px;
  margin-right: 5px;
  color: var(--bottomTxtColor);
  font-size: 14px;
  letter-spacing: -0.03em;
  transition: 0.5s;
  cursor: pointer;
}

.footerBtnItem:hover {
  background: var(--primary-txtColor);
  color: var(--headerTxtColor);
  transition: 0.8s;
  cursor: pointer;
}

.footerThird {
  display: flex;
  justify-content: space-between;
}

.footerBtns {
  display: flex;
}

.footerSocials {
  display: flex;
  align-items: center;
}

.footerSocials img:hover {
  filter: brightness(0%) contrast(100%);
}

.footerSocials a {
  margin-left: 20px;
  transition: 1s;
  cursor: pointer;
}

.footerDown {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  padding: 20px 0;
}

.footerDown div {
  color: var(--headerTxtColor);
  font-size: 14px;
}