.icon-button {
  display: flex;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-title {
  background-color: white;
  border-radius: 30px;
  color: #8424de;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.03em;
  padding: 15px 22.95px 15px 22.95px;
}

.button-icon {
  position: relative;
}

.vector-icon {
  position: absolute;
  top: -6px;
  width: 45px;
  left: -7px;
}

.icon {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: -7px;
}

.cardAddIcon{
  color: #8424de;
}

.icon-button:hover{
  .button-title{
    background: black;
    color: white;
  }

  .vector-icon{
    filter: invert(1);
  }

  .icon{
    background: black;
  }

  .cardAddIcon{
    color: white;
  }
}